<div class="d-flex justify-content-center title">{{titleService.currentTitle}}</div>
<div class="row justify-content-center">
  <div *ngFor="let prestation of prestations">
    <div *ngIf="prestation.categorie.nom == 'Team Building'">
      <div *ngFor="let prix of prestation.prices">
        <div *ngIf="prix.isDesactivated == '0'" class="text-center prix">
          <span [innerHTML]="prix.value"></span>
          <span [innerHTML]="prix.devise + ' / personne'"></span>
        </div>
      </div>
      <div class="col initiation">
        <div [innerHTML]="prestation.description | html"></div>
      </div>
      <div *ngFor="let module of prestation.modules" class="col"></div>
    </div>
  </div>
</div>
