<div class="bg-grey">
    <h1>{{titleService.currentTitle.toUpperCase()}}</h1>
    <div class="d-flex justify-content-center">
        <mat-spinner *ngIf="!ready"></mat-spinner>
    </div>
    <div class="row" *ngIf="ready">
        <span *ngFor="let actualite of actualites" class="actu">
        <div class="col-6 text-center">
            <img *ngIf="actualite.image"
            src="{{ actualite.image.imgpath | imagepath }}" class="picture"/>
        </div>
        <div class="col-6 actuText">
            <div [innerHTML]="actualite.titre" class="textDesc textTitle"></div>
            <div class="textDesc"><span class="label">Date : </span><span [innerHTML]="actualite.date.timestamp *1000 | date:'dd-MM-yyyy'"></span></div>
            <div class="textDesc"><span class="label">Heure : </span><span [innerHTML]="actualite.heure.timestamp *1000 | date:'HH:mm'"></span></div>
            <div class="textDesc"><span class="label">Lieu : </span><span [innerHTML]="actualite.lieu"></span></div>
            <div class="textDesc"><span class="label">Description : </span><span [innerHTML]="actualite.description"></span></div>
        </div>
        </span>
    </div>
</div>
