<div class="bg-grey">
    <h1 class="title">{{titleService.currentTitle}}</h1>
    <div class="d-flex justify-content-center">
        <mat-spinner *ngIf="!ready"></mat-spinner>
    </div>
    <div class="row" *ngIf="ready">
        <span *ngFor="let actualite of actualites" class="actu">
        <div class="col-6 text-center">
            <img *ngIf="actualite.image"
            src="{{ actualite.image.imgpath | imagepath }}" class="picture"/>
        </div>
        <div class="col-6 actuText">
            <div [innerHTML]="actualite.titre" class="textDesc textTitle"></div>
            <div [innerHTML]="actualite.date.timestamp *1000 | date:'dd-MM-yyyy'" class="textDesc"></div>
            <div [innerHTML]="actualite.heure.timestamp *1000 | date:'HH:mm'" class="textDesc"></div>
            <div [innerHTML]="actualite.lieu" class="textDesc"></div>
            <div [innerHTML]="actualite.description" class="textDesc"></div>
        </div>
        </span>
    </div>
</div>
