.bg-grey{
    top: 100px;
    position: relative;
}
h1{
    font-size: 30px;
    color: black;
    font-weight: bold;
}
.bio-picture{
    height: 100%;
}
.icon{
    height: 50px;
    width: 50px;
}
.bio-link{
    color: black;
}
.description {
    min-height: 360px;
}
.pressbook-presentation{
    min-width: 300px;
}

