.bg-grey{
    top: 100px;
    position: relative;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.contact{
    text-decoration: underline;
}
.btn-back {
    color: white;
    font-weight: bold;
    border: solid 1px #e5e5e5;
    background: #A60815;
}
.bio-picture{
    height: 100%;
}
