.row{
    margin-left: 0;
    margin-right: 0;
}
.title{
    font-size: 30px;
    color: #A60815;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.initiation{
    max-width: 33vw;
}
.prix{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}
.cadre{
    border: 1px solid black;
}
.modName{
    font-size: 18px;
    margin-bottom: 20px;
    font-family: cursive;
}
.duree{
    margin-bottom: 20px;
}
.spacer{
    height: 25px;
}
