.bg-grey{
    background-color: #e5e5e5;
    top: 100px;
    position: relative;
}
h1{
    font-size: 30px;
    color: black;
    font-weight: bold;
}
.titlecolor{
    color: #A60815;
}
.prix{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
.price{
    font-size: 12px;
}
.descriptionPrestation{
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}
.align-card{
    text-align: -webkit-center;
}
@media screen and (max-width: 320px) {
    .mat-card{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
.mat-card{
    width: 300px;
    background: white;
    margin: 20px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 3px 1px 0 rgba(0,0,0,.14), -3px 0 3px 0 rgba(0,0,0,.12);
}
mat-card-content{
    color:black;
}
.modName{
    color: #A60815;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}
.duree{
    margin-bottom: 20px;
}
.btn-back {
    color: white;
    font-weight: bold;
    border: solid 1px #e5e5e5;
    background: #A60815;
}
