<div class="bg-grey">
    <span *ngIf="prestation">
        <h1 *ngIf="prestation.categorie.nom != 'Initiations' else title">{{prestation.nom.toUpperCase()}}</h1>
        <ng-template #title>
            <h1 class="titlecolor">{{prestation.nom}}</h1>
        </ng-template>
        <div class="d-flex justify-content-center">
            <mat-spinner *ngIf="!ready"></mat-spinner>
        </div>
        <div *ngIf="ready">
            <div *ngFor="let prix of prestation.prices">
                <div *ngIf="prix.isDesactivated == false" class="text-center prix" >
                    <div *ngFor="let targetprice of prix.targetprices">
                        {{targetprice.nom.toUpperCase()}}
                    </div>
                    <span [innerHTML]="prix.value"></span>
                    <span *ngIf="prix.value">
                        <span [innerHTML]="prix.devise"></span>
                    </span>
                    <span [ngSwitch]="prestation.categorie.nom">
                        <span *ngSwitchCase="'Expertise et gestion de cave'">
                            <span [innerHTML]="' de l\'heure'"></span>
                        </span>
                        <span *ngSwitchCase="'Wine Club'">
                            <span [innerHTML]="' / trimestre'"></span>
                        </span>
                        <span *ngSwitchCase="'Wine Shopper'">
                            <span [innerHTML]="'Prix sur devis *'"></span>
                        </span>
                        <span *ngSwitchDefault>
                            <span [innerHTML]="' / personne'"></span>
                        </span>
                    </span>
                </div>
            </div>
            <div *ngIf="prestation.categorie.nom != 'Initiations'">
                <div [innerHTML]="prestation.description" class="descriptionPrestation"></div>
            </div>
            <div *ngFor="let module of prestation.modules">
                <div class="align-card">
                    <mat-card class="d-flex flex-column flex-wrap">
                        <mat-card-content>
                            <mat-card-title class="prestaName">
                                <div [innerHTML]="module.nom" class="modName"></div>
                            </mat-card-title>
                            <div class="duree">
                                <span [innerHTML]="module.duree.timestamp *1000 | date: 'HH'"></span>
                                h
                                <span [innerHTML]="module.duree.timestamp *1000 | date: 'mm'"></span>
                            </div>
                            <div [innerHTML]="module.description |html"></div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </span>
    <div class="d-flex justify-content-end">
        <button role="button" class="btn btn-back" (click)="back()">Retour</button>
    </div>
</div>
