<div class="d-flex justify-content-center title">{{titleService.currentTitle}}</div>
<div class="row justify-content-center">
  <div *ngFor="let prestation of prestations">
    <div *ngIf="prestation.categorie.nom == 'Wine Club'">
      <div *ngFor="let prix of prestation.prices">
      <div *ngIf="prix.isDesactivated == '0'" class="text-center prix">
        <span [innerHTML]="prix.value"></span>
        <span [innerHTML]="prix.devise + ' / trimestre'"></span>
      </div>
    </div>
      <div class="col initiation">
        <div [innerHTML]="prestation.description | html"></div>
      </div>
      <div class="devis">*L'adhésion ne comprend pas les sorties</div>
    </div>
  </div>
</div>
