<div class="bg-grey">
  <h2>Confidentialité des données</h2>
  <p>Ma Sommelière construit avec ses clients, ses partenaires, ses consommateurs et ses collaborateurs des relations fortes et durables, fondées sur la confiance réciproque : assurer la sécurité et la confidentialité de leurs données à caractère personnel est une priorité pour WaePass.

    Ma Sommelière respecte l’ensemble des dispositions réglementaires et législatives françaises et européennes relatives à la protection des données à caractère personnel.

    Ma Sommelière applique une politique de confidentialité stricte pour garantir la protection des données à caractère personnel des utilisateurs de ses sites internet et d’autres applications :
  </p>
  <ul>
    <li>Chaque utilisateur reste maître de ses données. Elles sont traitées de manière transparente, confidentielle et sécurisée.</li>
    <li>Ma Sommelière est engagée dans une démarche continue de protection des données de ses utilisateurs, en conformité avec la Loi Informatique et Libertés du 6 janvier 1978 modifiée (ci-après « LIL ») et du Règlement (UE) général sur la protection des données du 27 avril 2016 (ci-après « RGPD »).</li>
  </ul>

  <h3>Objet de la présente politique</h3>
  <p>Ma Sommelière accorde beaucoup d’importance à la protection de vos données à caractère personnel.

  Nous avons développé cette politique pour vous informer des conditions dans lesquelles nous collectons, traitons, utilisons et protégeons vos données à caractère personnel. Veuillez la lire attentivement afin de savoir quelles catégories de données à caractère personnel font l’objet d’une collecte et d’un traitement, comment nous utilisons ces données et avec qui nous sommes susceptibles de les partager. Cette politique décrit également quels sont vos droits et comment vous pouvez nous contacter pour les exercer ou pour nous poser vos éventuelles questions au sujet de vos données à caractère personnel.

  La présente politique peut être modifiée, complétée ou mise à jour afin notamment de se conformer à toute évolution légale, réglementaire, jurisprudentielle et technique. Cependant, vos données à caractère personnel seront toujours traitées conformément à la politique en vigueur au moment de leur collecte, sauf si une prescription légale impérative venait à en disposer autrement et serait d’application rétroactive.

  Cette politique fait partie intégrante des Conditions Générales d’Utilisation du Site.</p>

  <h3>Identité et coordonnées du responsable de traitement</h3>
  <p>Le responsable du traitement des données à caractère personnel est la société Ma Sommelière situé au 256 avenue d'Eysines 33200 Bordeaux France, immatriculée au RCS de Bordeaux SIREN N°845 316 587 et représentée par Lucie Dussilols</p>

  <h3>Définitions</h3>
  <p>« Données à caractère personnel » toute information relative à une personne physique identifiée ou qui peut être identifiée, directement ou indirectement, par référence à un numéro d’identification ou à un ou plusieurs éléments qui lui sont propres.
  « nous » ou « notre » Ma Sommelière.
  « vous » tout utilisateur / visiteur du Site.
    « Site » site de Ma Sommelière disponible à l’adresse www.masommeliere.fr</p>

  <h3>Collecte & origine des données à caractère personnel</h3>
  <p>Nous sommes susceptibles de collecter vos données à caractère personnel directement (notamment via les formulaires de collecte disponibles sur notre site) ou indirectement (notamment via nos prestataires et/ou technologies de notre site).

  Nous nous engageons à recueillir votre consentement et/ou à vous permettre de vous opposer à l’utilisation de vos données pour certaines finalités, dès que cela est nécessaire.

  Dans tous les cas, vous serez informés des finalités pour lesquelles vos données sont collectées via les différents formulaires de collecte de données en ligne et via le présent document.</p>

  <h3>Types de données à caractère personnel que nous collectons et utilisons</h3>
  <p>Nous pouvons collecter et traiter notamment les types de données à caractère personnel suivants :</p>
  <ul>
    <li>les informations que vous fournissez en remplissant les formulaires sur le site (par exemple, à des fins d’inscription, de participation à des enquêtes, à des fins marketing etc.) ;</li>
    <li>les informations que vous fournissez à des fins d’authentification ;</li>
    <li>les informations que vous fournissez à des fins de gestion d’une commande ou d’un service ;</li>
    <li>par le biais des « posts », des commentaires ou d’autres contenus que vous affichez sur le site.</li>
  </ul>

  <p>Les données à caractère personnel identifiées par un astérisque dans les formulaires de collecte sont obligatoires car elles sont nécessaires pour la prise en compte de la demande formulée. A défaut de renseigner ces informations obligatoires, ces opérations ne pourront pas être prises en compte.</p>

  <h3>Données à caractère personnel que nous collectons automatiquement</h3>
  <p>Nous collectons certaines informations de manière automatique lorsque vous consultez le site à des fins de personnaliser et améliorer votre expérience. Nous collectons ces informations par des moyens divers, à savoir :</p>

  <h4>Cookies</h4>
  <p>Un « cookie » est un petit fichier d’information envoyé sur votre navigateur lorsque vous êtes sur notre site et enregistré sur votre terminal. Ce fichier comprend des informations telles que le nom de domaine, le fournisseur d’accès Internet, le système d’exploitation, ainsi que la date et l’heure d’accès de l’utilisateur. Les cookies ne risquent en aucun cas d’endommager votre terminal.

    Les cookies sont utilisés sur notre site afin de faciliter son utilisation par nos visiteurs et abonnés. Ces cookies sont indispensables au bon fonctionnement du site web et ne peuvent pas être désactivés de nos systèmes. Ils ne sont généralement que activés en réponse à des actions que vous effectuez et qui correspondent à une demande de services, comme la configuration de vos préférences de confidentialité, la connexion ou le remplissage de formulaires, et disparaissent à la fin de votre session.</p>

  <p>Si vous ne souhaitez pas recevoir de cookies de la part de notre site, vous pouvez configurer votre navigateur. Pour la gestion de vos choix, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d’aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits en matière de cookies.
    Voici quelques liens et informations pour de plus amples renseignements sur la façon dont gérer le paramétrage des cookies :</p>

  <p>Explorer, Chrome, Safari, Firefox, Opera : <a href="https://www.ionos.fr/digitalguide/sites-internet/creation-de-sites-internet/supprimer-les-cookies/">Lien</a></p>

  <p>Edge : <a href="https://support.microsoft.com/fr-fr/help/4027947/windows-delete-cookies">Lien</a></p>

  <p>Chrome : <a href="https://support.google.com/chrome/answer/95647?hl=fr">Lien</a></p>

  <p>Safari : <a href="https://support.apple.com/kb/index?page=search&type=organic&src=support_searchbox_main&locale=fr_FR&q=cookie">Lien</a></p>

  <p>Firefox : <a href="https://support.mozilla.org/fr/products/firefox/protect-your-privacy/cookies">Lien</a></p>

  <p>Nous vous recommandons toutefois de ne pas désactiver nos cookies, certaines pages de notre site ne pourront plus s’afficher correctement ou vous ne serez plus en mesure d’utiliser certains des services qui vous sont proposés. Dans ce cas, nous déclinons toute responsabilité pour les conséquences liées au fonctionnement dégradé de nos services résultant de l’impossibilité pour nous d’enregistrer ou de consulter les cookies nécessaires à leur fonctionnement et que vous auriez refusés ou supprimés.

    Enfin, en cliquant sur les icônes dédiées aux réseaux sociaux Twitter, Facebook, Linkedin etc. figurant le cas échéant sur notre site et si vous avez accepté le dépôt de cookies en poursuivant votre navigation sur le site, les réseaux sociaux concernés peuvent également déposer des cookies sur vos terminaux (ordinateur, tablette, téléphone portable). Ces types de cookies ne sont déposés sur vos terminaux qu’à condition que vous y consentiez, en continuant votre navigation sur le site. À tout moment, vous pouvez néanmoins revenir sur votre consentement à ce que ces réseaux sociaux déposent ce type de cookies.</p>

  <h4>Adresses IP</h4>
  <p>Une adresse IP est un identifiant unique que certains appareils électroniques utilisent pour s’identifier et communiquer les uns avec les autres sur Internet. Lorsque vous consultez le site, nous pouvons utiliser l’adresse IP de l’appareil que vous utilisez pour vous y connecter. Nous utilisons ces informations pour déterminer l’emplacement physique général de l’appareil et comprendre de quelle région géographique viennent les visiteurs du site.</p>

  <h4>Statistiques</h4>
  <p>Le site utilise Google Analytics pour générer des rapports statistiques. Ces rapports nous indiquent par exemple combien d’utilisateurs ont consulté le site, quelles pages ont été visitées et de quelle zone géographique proviennent les utilisateurs du site. Les informations recueillies en recourant aux statistiques peuvent inclure, par exemple, votre adresse IP, le site Internet à partir duquel vous êtes arrivé sur notre site et le type d’appareil que vous utilisez. Votre adresse IP est masquée sur nos systèmes et ne sera utilisée qu’en cas de nécessité pour résoudre les problèmes techniques, pour administrer le site et pour comprendre les préférences de ses visiteurs. Les informations relatives au trafic sur le site ne sont disponibles que pour le personnel autorisé. Nous n’utilisons aucune de ces informations pour identifier les visiteurs et nous ne les partageons pas avec des tiers.</p>

  <h4>Réseaux sociaux</h4>
  <p>Vous avez la possibilité de cliquer sur les icônes dédiées aux réseaux sociaux Twitter, Facebook, Linkedin, etc. figurant sur notre site.

  Les réseaux sociaux permettent d’améliorer notre communauté et aident à la promotion du site via les partages. Les services de partage de vidéo permettent d’enrichir notre site de contenus vidéo et augmentent sa visibilité.

  Lorsque vous cliquez sur ces boutons, nous pourrons avoir accès aux informations personnelles que vous aurez indiquées comme publiques et accessibles depuis vos profils sur les réseaux sociaux concernés. Cependant, nous ne créons ni n’utilisons aucune base de données indépendante de ces réseaux sociaux à partir des informations personnelles que vous pouvez y publier et nous ne traiterons aucune donnée relevant de votre vie privée par ce biais.

    Si vous ne souhaitez pas que nous ayons accès aux informations personnelles publiées sur l’espace public de vos profils ou de vos comptes sociaux, vous devrez alors utiliser les moyens mis à disposition par les réseaux sociaux concernés afin de limiter l’accès à ces données.</p>

  <h3>Fondement juridique du traitement des données à caractère personnel</h3>
  <p>Nous traitons vos données à caractère personnel dans le cadre de l’exécution et de la gestion de notre relation contractuelle avec vous, de notre intérêt légitime à améliorer la qualité et l’excellence opérationnelle des services que nous vous proposons ou encore du respect de certaines obligations réglementaires.

  Le traitement de vos données pourra également s’effectuer sur la base de votre consentement préalable dans l’hypothèse où celui-ci vous serait, dans certaines situations, demandé.</p>

  <h3>Communication des données personnelles</h3>
  <p>La sécurité et la confidentialité de vos données sont d’une grande importance pour nous. C’est pourquoi nous restreignons l’accès à vos données à caractère personnel uniquement aux membres de notre personnel qui ont besoin d’en connaître le contenu afin de traiter votre demande ou vous fournir le service demandé.

    Nous ne divulguons pas vos données à caractère personnel à des tiers non autorisés. Nous pouvons toutefois partager vos données avec les prestataires de services autorisés (par exemple : prestataires techniques (hébergement, maintenance), conseils, etc.) auxquels nous faisons appel aux fins de la réalisation de nos services. Nous n’autorisons pas ces prestataires de services à utiliser ou divulguer vos données, sauf dans la mesure nécessaire pour exécuter les services pour notre compte ou respecter les obligations légales. Par ailleurs, nous pouvons partager des données à caractère personnel vous concernant si la loi ou une procédure juridique nous impose de le faire, en réponse à une demande des autorités publiques ou autres fonctionnaires, ou si nous considérons que la transmission de ces données est nécessaire ou appropriée pour prévenir un dommage physique ou une perte financière, ou en lien avec une enquête concernant une activité illicite suspectée ou avérée.</p>

  <h3>Durée de conservation de vos données à caractère personnel</h3>
  <p>Nous conserverons vos données à caractère personnel pendant une durée qui n’excède pas la durée nécessaire aux finalités pour lesquelles elles sont collectées et traitées, durée qui est prolongée, le cas échéant, des durées de prescriptions légales ou réglementaires applicables.</p>

  <h3>Données à caractère personnel sensibles</h3>
  <p>Il est considéré comme « données à caractère personnel sensibles » toute information concernant l’origine raciale ou ethnique, les opinions politiques, la religion ou les convictions philosophiques, l’appartenance syndicale, les données de santé, ou les données concernant la vie sexuelle ou l’orientation sexuelle d’une personne physique. Cette définition comprend également des données à caractère personnel relatives à des condamnations pénales et à des infractions.

    Dans l’hypothèse où le recueil de telles données serait strictement nécessaire pour accomplir la finalité de traitement opérée, nous le ferons conformément aux exigences de la législation locale en matière de protection des données à caractère personnel et, en particulier, avec votre accord explicite préalable et dans les conditions décrites dans la présente Politique de confidentialité.</p>

  <h3>Informations personnelles et mineurs</h3>
  <p>Le site s’adresse à des personnes majeures capables de contracter des obligations conformément à la législation du pays dans lequel vous vous trouvez.</p>

  <h3>Vos droits</h3>
  <p>Conformément à la loi applicable vous disposez de certains droits relatifs au traitement de vos données à caractère personnel.</p>

  <h3>Droit d’accès</h3>
  <p>Vous pouvez demander l’accès à vos données à caractère personnel. Vous pouvez également demander la rectification des données à caractère personnel qui seraient inexactes ou à ce que les données incomplètes soient complétées.

    Vous avez également le droit de connaître les sources de ces données à caractère personnel.</p>

  <h3>Droit de suppression</h3>
  <p>Votre droit à l’oubli vous autorise à demander la suppression des données à caractère personnel lorsque :
  les données ne sont plus nécessaires à la réalisation des finalités pour lesquelles elles ont été collectées et traitées ;
  vous choisissez de retirer votre consentement (dans les cas où votre consentement a été collecté comme base juridique du traitement) ce retrait n’impactant pas la licéité du traitement avant sa mise en œuvre ;
  vous vous opposez au traitement ;
  vos données ont été traitées de manière illicite ;
  vos données doivent être effacées pour respecter une obligation légale ;
    leur suppression est requise pour garantir la conformité à la législation en vigueur.</p>

  <h3>Droit à la limitation</h3>
  <p>Vous pouvez également demander la limitation au traitement de vos données à caractère personnel si :
  vous contestez l’exactitude de ces données ;
  nous n’avons plus besoin de ces données pour les besoins du traitement ;
    vous vous êtes opposé(e) au traitement des données.</p>

  <h3>Droit de vous opposer aux messages de prospection directe</h3>
  <p>Vous pourrez à tout moment nous demander de ne plus recevoir de publicités ou de prospections en nous contactant directement et gratuitement, ou au moyen du lien de désinscription inclus dans toute prospection que nous serions susceptible de vous adresser par courrier électronique ou en envoyant un email à l’adresse indiquée ci-après. Cette opposition est sans préjudice à la légalité des envois réalisés avant sa mise en œuvre.

    Conformément à l’article L.223-2 du Code de la consommation, l’Utilisateur est informé de son droit à s’inscrire sans frais sur la liste d’opposition au démarchage téléphonique (<a href="www.bloctel.gouv.fr">Bloctel</a> ).</p>

  <h3>Droit à la portabilité</h3>
  <p>Vous pouvez nous demander de vous fournir vos données à caractère personnel dans un format structuré, communément utilisé, lisible par une machine, ou vous pouvez demander à ce qu’elles soient « portées » directement à un autre responsable du traitement à conditions que :
  le traitement soit fondé sur votre consentement ou sur l’exécution d’un contrat avec vous ;
    qu’il soit réalisé par des moyens automatisés.</p>

  <h3>Droit d’introduire une réclamation auprès d’une autorité de contrôle</h3>
  <p>Si vous avez des préoccupations ou des réclamations en ce qui concerne la protection de vos données à caractère personnel, vous disposez d’un droit d’introduire une réclamation auprès de la Commission Nationale de l’Informatique et des Libertés via le lien suivant : www.cnil.fr.

  Nous vous prions, cependant, de nous adresser au préalable toute demande en nous contactant à l’adresse indiquée ci-après afin que nous puissions traiter votre demande et trouver une solution amiable.

    Pour exercer ces droits, vous pouvez nous contacter en nous écrivant à l’adresse suivante : contact@waepass.com en nous indiquant votre nom, prénom et l’objet de votre demande. Nous sommes susceptibles de vous demander des informations supplémentaires afin de vous identifier et d’être en mesure de traiter votre demande.</p>

  <h3>Sécurité</h3>
  <p>Nous mettons en œuvre toutes les mesures techniques et organisationnelles afin d’assurer la sécurité et la confidentialité des traitements de données à caractère personnel.
    A ce titre, nous prenons toutes les précautions utiles, au regard de la nature des données à caractère personnel et des risques présentés par le traitement, afin de préserver la sécurité des données et, notamment, d’empêcher qu’elles soient déformées, endommagées ou que des tiers non autorisés y aient accès (protection physique des locaux, procédés d’authentification avec accès personnel et sécurisé via des identifiants et mots de passe confidentiels, journalisation des connexions, chiffrement de certaines données etc.).</p>

  <h3>Bases de données gestion des relations clientèle (“base de données CRM”)</h3>
  <p>Nous utilisons une base de données pour gérer et suivre nos relations avec les clients existants et potentiels. Cette base de données comprend des données à caractère personnel des collaborateurs de nos clients ou d’autres partenaires avec qui nous entretenons une relation d’affaires ou avec qui nous souhaitons établir une telle relation. Ces données, utilisées uniquement à ces fins, comprennent notamment : les coordonnées des contacts (nom, prénom, numéro de téléphone, adresse e-mail etc.), des informations accessibles au public, les réponses aux e-mails ciblés et d’autres informations collectées et enregistrées par nos collaborateurs dans le cadre des interactions avec nos clients et partenaires. Si vous souhaitez être retiré de nos bases CRM, veuillez-vous adresser à contact@waepass.com.</p>

  <h3>Liens vers d’autres sites</h3>
  <p>Nous fournissons occasionnellement des liens vers d’autres sites Internet à titre pratique et informatif. Ces sites Internet sont pour la plupart des sites Internet de nos partenaires, et certains d’entre eux fonctionnent de manière indépendante de nos sites et ne sont pas sous notre contrôle. Ces sites exploités par des tiers peuvent avoir leur propre avis de confidentialité ou conditions d’utilisation, que nous vous suggérons fortement d’examiner. Nous déclinons toute responsabilité quant au contenu de ces sites, quant aux produits et services susceptibles d’y être proposés ou quant à toute autre utilisation.</p>

  <h3>Mise à jour de notre Politique de confidentialité</h3>
  <p>La présente politique entrera en vigueur à compter de Janvier 2019. Nous sommes susceptibles de mettre à jour ou modifier, en tant que de besoin, cette Politique de confidentialité. Dans ce cas, les modifications réalisées ne seront applicables qu’à l’expiration d’un délai de 30 jours ouvrés à compter de la modification. Consultez périodiquement cette page si vous souhaitez surveiller les éventuels changements.</p>

  <h3>Désinscription</h3>
  <p>Si vous vous êtes abonnés à certains services via notre site et si vous ne souhaitez plus recevoir de courriers électroniques à l’avenir, consultez la page de désinscription correspondant à l’abonnement auquel vous vous êtes inscrit.</p>

<h3>Comment nous contacter</h3>
<p>Si vous avez des questions ou des commentaires en ce qui concerne cette politique, n’hésitez pas à nous contacter à l’adresse : masommeliere@gmail.com</p>
</div>
