<div class="container-fluid bg-grey">
    <div class="row text-center align-content-center">
        <h1 class="col-12 my-3">{{titleService.currentTitle.toUpperCase()}}</h1>
    </div>
    <h2 class="text-center">PARTICULIERS</h2>
    <div class="d-flex justify-content-center">
        <mat-spinner *ngIf="!ready"></mat-spinner>
    </div>
    <div class="align-card d-flex justify-content-center flex-wrap" *ngIf="ready">
        <span *ngFor="let prestation of prestations | cibleFilter: 'Particuliers' | categoryFilter: 'Initiations'">
            <mat-card class="d-flex flex-column flex-wrap">
                <a routerLink="/page_prestation/{{ prestation.id }}"
                   routerLinkActive="active" class="text-center text-decoration-none">
                    <mat-card-title class="prestaName">
                        {{ prestation.nom }}
                    </mat-card-title>
                    <mat-card-content>
                        <div *ngFor="let prix of prestation.prices |targetPriceFilter:0">
                            <div class="text-center prix" >
                                <span [innerHTML]="prix.value "></span>
                                <span [innerHTML]=" prix.devise + ' / personne'"></span>
                            </div>
                        </div>
                        <div [innerHTML]="prestation.description" class="text-center"></div>
                        <div class="detail">en savoir plus...</div>
                    </mat-card-content>
                </a>
            </mat-card>
        </span>
    </div>
</div>
