.container-fluid{
    padding: 0;
}
.background{
    background-image: url("../../../assets/images/cave-degustation-noir.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.home-title{
    color: white;
    margin-bottom: 10px;
    text-shadow: -2px 2px #A60815;
    font-size: 3rem;
}
@media screen and (min-width: 576px){
    .home-title{
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 992px){
    .home-title{
        margin-bottom: 60px;
    }
}
.home-text{
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-shadow: -1px 1px black;
}
.shadow-back{
    background-color: rgba(0, 0, 0, 0.3);
    height: 45vh;
    width: 100%;
    position: relative;
    top: 0;
}
