.background{
    background-image: url("../../../assets/images/cave-degustation-noir.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    top: 80px;
}
.home-title{
    color: white;
    margin-bottom: 70px;
    text-shadow: -2px 2px #A60815;
    font-size: 3rem;
    padding-left: 10px;
    padding-right: 10px;
}
.description{
    width: 100%;
    margin: 0;
}
.home-text{
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-shadow: -1px 1px black;
}
.shadow-back{
    background-color: rgba(0, 0, 0, 0.3);
    height: 45vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
