<div class="container-fluid background">
  <div class="row align-content-center text-center" style="height: 74vh">
    <div class="shadow-back">
      <h1 class="home-title">{{ title }}</h1>
        <div class="row description">
          <span class="col-4 col-sm"></span>
          <p class="col-sm-4 col-12 home-text">
            vous propose un service sur-mesure dans l'univers du vin :
          </p>
          <span class="col-4 col-sm"></span>
        </div>
        <div class="row description">
          <span class="col-4 col-sm"></span>
          <p class="col-sm-4 col-12 home-text">
            Initiation, expertise de cave, service, conseil...
          </p>
          <span class="col-4 col-sm"></span>
        </div>
    </div>
  </div>
</div>
