.main-container{
    height: 92vh;
}

.sidenav{
    height: 300px;
    top: 25vh;
}

mat-sidenav {
    min-width: 300px;
}

nav mat-nav-list a {
    color: #A60815;
}

mat-toolbar{
    height: 100px;
}

mat-icon{
    height: 40px;
    width: 40px;
}

.size-icon{
    font-size: 40px;
}

.logo {
    height: 100px;
    width: 200px;
}

.remaining-space {
    flex: 1 1 auto;
}

.icon-menu{
    color: #A60815;
}

.icon{
    height: 50px;
    width: 50px;
}
