.main-container{
    height: 88vh;
}
button:focus{
    outline: none;
}
mat-sidenav {
    min-width: 100%;
    background-image: url("../assets/images/Background-sidenav.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.close-menu{
    color: white;
    top: 35px;
    right: 25px;
    position: relative;
}
nav mat-nav-list a {
    color: white;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
mat-toolbar{
    height: 100px;
}
.dropdown-toggle::after{
    margin-top: inherit;
}
.dropdown-menu{
    background-color: #050505;
}
.dropdown-item.active{
    background-color: transparent;
}
.btn:focus{
    box-shadow:none;
}
.bg-grey{
    background-color: #e5e5e5;
}
.size-icon{
    font-size: 40px;
}

.logo {
    height: 100px;
    width: 200px;
    margin-bottom: 3px;
}
.bg-color{
    background-color: white;
}
.remaining-space {
    flex: 1 1 auto;
}

.icon-menu{
    color: #A60815;
}
.footer-size{
    height: 9vh;
    font-size: 16px;
}
.icon-footer{
    height: 50px;
    width: 50px;
}


