<mat-sidenav-container class="main-container">
  <mat-sidenav class="sidenav" mode="over" [(opened)]="opened" #sidenav>
    <nav>
      <mat-nav-list>
        <a routerLink="/accueil"
           routerLinkActive="active" mat-list-item (click)="sidenav.close()">
          <span><strong>Accueil</strong></span>
        </a>
        <a routerLink="/presentation"
           routerLinkActive="active" mat-list-item (click)="sidenav.close()">
          <span><strong>Présentation</strong></span>
        </a>
        <a routerLink="/particulier"
           routerLinkActive="active" mat-list-item (click)="sidenav.close()">
          <span><strong>Particuliers</strong></span>
        </a>
        <a routerLink="/professionnel"
           routerLinkActive="active" mat-list-item (click)="sidenav.close()">
          <span><strong>Professionnels</strong></span>
        </a>
        <a routerLink="/actualite"
           routerLinkActive="active" mat-list-item (click)="sidenav.close()">
          <span><strong>Actualités</strong></span>
        </a>
        <a routerLink="/contact"
           routerLinkActive="active" mat-list-item (click)="sidenav.close()">
          <span><strong>Contact</strong></span>
        </a>
      </mat-nav-list>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar role="heading">
      <img src="../assets/images/logo-ma-sommeliere.jpg" class="logo">
      <span class="remaining-space"></span>
      <button mat-button class="icon-menu" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon class="size-icon">menu</mat-icon>
      </button>
      <footer class="container-fluid fixed-bottom">
        <div class="row text-center align-items-center d-flex flex-wrap">
          <div class="col-sm-4 col-8">
            <a href="" target="_blank" class="text-decoration-none text-dark">Mentions légales</a>
          </div>
          <div class="col-4">
            <a href="https://www.instagram.com/lucie_dussillols/" target="_blank"><img src="../assets/images/instagram.jpg" class="icon"></a>
          </div>
          <div class="col-sm-4 col-8">
            <a href="" target="_blank" class="text-decoration-none text-dark">Politique de confidentialité</a>
          </div>
        </div>
      </footer>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
