<mat-sidenav-container class="main-container">
  <mat-sidenav class="sidenav" mode="over" [(opened)]="opened" #sidenav>
    <nav>
      <mat-nav-list>
        <a routerLink="/accueil"
           routerLinkActive="active" mat-list-item (click)="sidenav.close()">
          <span><strong>Accueil</strong></span>
        </a>
        <a routerLink="/presentation"
           routerLinkActive="active" mat-list-item (click)="sidenav.close()">
          <span><strong>Présentation</strong></span>
        </a>
        <a routerLink="/particulier"
           routerLinkActive="active" mat-list-item (click)="sidenav.close()">
          <span><strong>Particuliers</strong></span>
        </a>
        <a routerLink="/professionnel"
           routerLinkActive="active" mat-list-item (click)="sidenav.close()">
          <span><strong>Professionnels</strong></span>
        </a>
        <a routerLink="/actualite"
           routerLinkActive="active" mat-list-item (click)="sidenav.close()">
          <span><strong>Actualités</strong></span>
        </a>
        <a routerLink="/contact"
           routerLinkActive="active" mat-list-item (click)="sidenav.close()">
          <span><strong>Contact</strong></span>
        </a>
      </mat-nav-list>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar role="heading">
      <img src="../assets/images/logo-ma-sommeliere.jpg" class="logo">
      <span class="remaining-space"></span>
      <button mat-button class="icon-menu" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>




