<div class="d-flex justify-content-center title">{{titleService.currentTitle}}</div>
<div class="row justify-content-center">
  <div *ngFor="let prestation of prestations">
    <div *ngIf="prestation.categorie.nom == 'Expertise et gestion de cave'">
      <div *ngFor="let prix of prestation.prices">
        <div *ngIf="prix.isDesactivated == '0'" class="text-center prix">
          <span [innerHTML]="prix.value"></span>
          <span [innerHTML]="prix.devise + ' de l\'heure'"></span>
        </div>
      </div>
      <div class="col">
        <div [innerHTML]="prestation.description | html"></div>
      </div>
      <div class="devis">*Ce tarif n'inclue pas la commission de 15% sur la vente de vos bouteilles.</div>
    </div>
  </div>
</div>
