<div class="d-flex justify-content-center title">{{titleService.currentTitle}}</div>
<div class="d-flex justify-content-center prix">Prix sur devis*</div>
<div class="row justify-content-center">
  <div *ngFor="let prestation of prestations">
    <div *ngIf="prestation.categorie.nom == 'Wine Shopper'">
      <div class="col initiation">
        <div [innerHTML]="prestation.description | html"></div>
      </div>
      <div class="devis">
        <div>*Ces tarifs n'incluent pas le prix et la quantité des vins à commander et les frais de livraison.</div>
        <div>Ma Sommelière s'efforce de vous garantir des tarifs avantageux ainsi qu'une étude approfondie d'offres promotionnelles.</div>
      </div>
    </div>
  </div>
</div>
